
.flex-container {
    /* display: flex;
    justify-content: center;
    align-items: center;    
    border: 3px solid #000 */
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.flexcard {
    /*width: 200px;*/
    max-width: 250px;
    min-width: 18%;
    /* width: 16.5%; */
    margin: 25px;
    border-radius: 12px;
    padding: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 5px 10px #aaaa;
    filter: brightness(90%);
    color: #ffffff;
    background-color: rgba(29, 27, 31);
}

.flexcard:hover {
    transform: scale(1.10);
    filter: brightness(100%);
}

.right {
    /* background-color: #ffafcc; */
    border: 4px solid #ffafcc;
  --colorShadeA: #ffafcc;
  --colorShadeC: #ffafcc;
  --colorShadeD: #442f37;
}

.right:hover {
    transform: translateX(150%);
}

.right h2 {
    color: #ffafcc;
}

.left {
    /* background-color: #7ec4ec; */
    border: 4px solid #7ec4ec;
  --colorShadeA: #7ec4ec;
  --colorShadeC: #7ec4ec;
  --colorShadeD: #273e4b;
}

.left:hover {
    transform: translate(200%, -80%);
}

.left h2 {
    color: #7ec4ec;
}

.up {
    /* background-color: #beef69; */
    border: 4px solid #beef69;
  --colorShadeA: #beef69;
  --colorShadeC: #beef69;
  --colorShadeD: #34421c;
}

.up:hover {
    transform: translate(-120%, 120%);
}

.up h2 {
    color: #beef69;
}
.down {
    /* background-color: #beef69; */
    border: 4px solid #efbc69;
  --colorShadeA: #efbc69;
  --colorShadeC: #efbc69;
  --colorShadeD: #2e2413;
}

.down:hover {
    transform: translate(120%, 120%);
}

.down h2 {
    color: #efbc69;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #fafafb;
    text-transform: uppercase;
    font-size: .66rem;
    border: 1px solid #f3f1f7;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}


:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeB: rgb(121, 186, 156);
  /* --colorShadeC: rgb(150, 232, 195); */
  /* --colorShadeD: rgb(187, 232, 211); */
  --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 0.5em;
  background: inherit;
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow:
    /* 0 0 0 2px var(--colorShadeB), */
    0 0 0 1px var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow:
      /* 0 0 0 2px var(--colorShadeB), */
      0 0.25em 0 0 var(--colorShadeB);

}