body {
  margin: 0;
  /* background-image: url("images/baby-yoda-1.webp"); */
  background: linear-gradient(-45deg, #3c570e, #124b6b, #641632, #9c6a18);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}